In [1]:
import pandas as pd
import numpy as np

# 1. Thu thập dữ liệu

* Dữ liệu của nhóm là về chủ đề các bài hát trong lịch sử Billboard 100
* Người ta cho phép dùng dữ liệu này nhưng với license của dữ liệu là CC BY-NC-SA 4.0
* Hàng tuần, Billboard sẽ công bố bảng xếp hạng "The Hot 100" gồm các bài hát đang thịnh hành về doanh thu và lượt phát. Tập dữ liệu này là tập hợp tất cả các bảng xếp hạng "The Hot 100" được phát hành kể từ khi thành lập vào năm 1958

# 2. Khám phá dữ liệu

### Đọc dữ liệu

In [3]:
billboards = pd.read_csv('charts.csv')

billboards

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [5]:
num_rows = len(billboards)
num_cols = len(billboards.columns)

num_rows, num_cols

(330087, 7)

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

* Mỗi dòng của dữ liệu là thông tin bài hát và các thông số xếp hạng của bài hát trong bảng xếp hạng trong một tuần
* Dựa theo dữ liệu ta thấy rằng các dòng không có ý nghĩa khác nhau

### Dữ liệu có các dòng bị lặp không?

In [12]:
duplicated = np.sum(billboards.duplicated()) != 0
duplicated

False

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

In [13]:
col_dtypes = pd.Series(index=billboards.columns)
for idx in col_dtypes.index:
    col_dtypes[idx] = billboards[idx].dtype
    
col_dtypes

<ipython-input-13-8f81f3ec54aa>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  col_dtypes = pd.Series(index=billboards.columns)

date               object
rank                int64
song               object
artist             object
last-week         float64
peak-rank           int64
weeks-on-board      int64
dtype: object

In [15]:
billboards['date'] = pd.to_datetime(billboards['date'], format="%Y-%m-%d")

In [16]:
numerical_col = pd.DataFrame(columns=['date', 'rank', 'last-week', 'peak-rank', 'weeks-on-board'],
                                    index=['missing_count', 'missing_ratio', 'min', 'max'])

for col in numerical_col.columns:
    numerical_col[col]['missing_count'] = np.sum(np.isnan(billboards[col]))
    numerical_col[col]['missing_ratio'] = np.sum(np.isnan(billboards[col]))/num_rows
    numerical_col[col]['min'] = np.min(billboards[col])
    numerical_col[col]['max'] = np.max(billboards[col])

numerical_col

                              date rank last-week peak-rank weeks-on-board
missing_count                    0    0     32312         0              0
missing_ratio                  0.0  0.0  0.097889       0.0            0.0
min            1958-08-04 00:00:00    1       1.0         1              1
max            2021-11-06 00:00:00  100     100.0       100             90

* Giá trị min-max của các cột không có gì bất thường